USE [agriculture]
GO
/****** Object:  Table [dbo].[average]    Script Date: 2020/11/18 下午 07:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[average](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[n] [int] NOT NULL,
	[depth] [tinyint] NOT NULL,
	[water] [varchar](50) NOT NULL,
	[organic] [varchar](50) NOT NULL,
	[pH] [varchar](50) NOT NULL,
	[uScm] [varchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_average] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[basics]    Script Date: 2020/11/18 下午 07:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[basics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depth] [tinyint] NULL,
	[water] [varchar](50) NULL,
	[organic] [varchar](50) NULL,
	[pH] [varchar](50) NULL,
	[uScm] [varchar](50) NULL,
	[info_id] [int] NOT NULL,
 CONSTRAINT [PK_measuredvalues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infos]    Script Date: 2020/11/18 下午 07:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[no] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[species] [varchar](255) NOT NULL,
	[method] [varchar](255) NOT NULL,
	[lat] [real] NOT NULL,
	[lng] [real] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_infos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metal]    Script Date: 2020/11/18 下午 07:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Zn] [varchar](50) NULL,
	[Pb] [varchar](50) NULL,
	[Cd] [varchar](50) NULL,
	[Co] [varchar](50) NULL,
	[Ni] [varchar](50) NULL,
	[B] [varchar](50) NULL,
	[Mn] [varchar](50) NULL,
	[Fe] [varchar](50) NULL,
	[Cr] [varchar](50) NULL,
	[Mg] [varchar](50) NULL,
	[Ca] [varchar](50) NULL,
	[Cu] [varchar](50) NULL,
	[Na] [varchar](50) NULL,
	[info_id] [int] NOT NULL,
 CONSTRAINT [PK_metals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2020/11/18 下午 07:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[acc] [varchar](255) NOT NULL,
	[password] [text] NOT NULL,
	[authority] [tinyint] NOT NULL,
	[remember_token] [varchar](255) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[average] ON 

INSERT [dbo].[average] ([id], [n], [depth], [water], [organic], [pH], [uScm], [created_at], [updated_at]) VALUES (1, 29, 0, N'23.74', N'5.90', N'7.0', N'127.2', CAST(N'2018-12-16T13:50:31.000' AS DateTime), CAST(N'2018-12-16T13:50:31.000' AS DateTime))
INSERT [dbo].[average] ([id], [n], [depth], [water], [organic], [pH], [uScm], [created_at], [updated_at]) VALUES (2, 29, 30, N'17.96', N'3.21', N'7.5', N'82.2', CAST(N'2018-12-16T13:50:31.000' AS DateTime), CAST(N'2018-12-16T13:50:31.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[average] OFF
GO
SET IDENTITY_INSERT [dbo].[basics] ON 

INSERT [dbo].[basics] ([id], [depth], [water], [organic], [pH], [uScm], [info_id]) VALUES (3, 0, N'31.86', N'9.36', N'7.5', N'91.4', 2)
INSERT [dbo].[basics] ([id], [depth], [water], [organic], [pH], [uScm], [info_id]) VALUES (4, 30, N'18.30', N'3.72', N'8.2', N'75.4', 2)
INSERT [dbo].[basics] ([id], [depth], [water], [organic], [pH], [uScm], [info_id]) VALUES (5, 0, N'23.17', N'4.55', N'7.1', N'145.1', 3)
SET IDENTITY_INSERT [dbo].[basics] OFF
GO
SET IDENTITY_INSERT [dbo].[infos] ON 

INSERT [dbo].[infos] ([id], [no], [name], [species], [method], [lat], [lng], [created_at], [updated_at]) VALUES (1, 1, N'楊O和', N'棗子', N'網室有機', 22.7711334, 120.3326, CAST(N'2018-12-18T11:14:26.000' AS DateTime), CAST(N'2018-12-25T23:18:08.000' AS DateTime))
INSERT [dbo].[infos] ([id], [no], [name], [species], [method], [lat], [lng], [created_at], [updated_at]) VALUES (2, 2, N'楊O和', N'棗子', N'網室有機', 22.7711334, 120.3326, CAST(N'2018-12-18T11:14:26.000' AS DateTime), CAST(N'2018-12-18T11:14:26.000' AS DateTime))
INSERT [dbo].[infos] ([id], [no], [name], [species], [method], [lat], [lng], [created_at], [updated_at]) VALUES (3, 3, N'戴O福', N'芭藥', N'一般慣行', 22.77395, 120.3362, CAST(N'2018-12-18T11:14:26.000' AS DateTime), CAST(N'2018-12-18T11:14:26.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[infos] OFF
GO
SET IDENTITY_INSERT [dbo].[metal] ON 

INSERT [dbo].[metal] ([id], [Zn], [Pb], [Cd], [Co], [Ni], [B], [Mn], [Fe], [Cr], [Mg], [Ca], [Cu], [Na], [info_id]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[metal] ([id], [Zn], [Pb], [Cd], [Co], [Ni], [B], [Mn], [Fe], [Cr], [Mg], [Ca], [Cu], [Na], [info_id]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[metal] ([id], [Zn], [Pb], [Cd], [Co], [Ni], [B], [Mn], [Fe], [Cr], [Mg], [Ca], [Cu], [Na], [info_id]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[metal] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [acc], [password], [authority], [remember_token]) VALUES (1, N'Shyitien', N'$2y$10$jw21T7ZmSmB51tjo0As8S.Dl1owwsOX9bqIq46gbjoT9EMCHJLyI6', 1, N'ZQFPsngCrKY4kaHTvgKRgUulWHmoVleKocy6a1StAznm980emSDelLkWwzvJ')
INSERT [dbo].[users] ([id], [acc], [password], [authority], [remember_token]) VALUES (2, N'imfrank', N'$2y$10$yAffypnmj43Oo5EpPn4s6O52ZyqSvfzw296CtZ428fpa.jkwhHzBa', 1, N'HWoAlUzEGJQCcSmveiSs6L1wX1SP18AlPyM6fsOGbG5n9waNtInpj4Dc0yvY')
INSERT [dbo].[users] ([id], [acc], [password], [authority], [remember_token]) VALUES (3, N'0524007', N'$2y$10$QVrl8cTH1VyBfHe9Nfmdy.CMaG0d3p7.oaarVJPmEatKKblfGBT/C', 1, N'kefL9nFmZ0piRLxLG3Dh6UozIuxCzCrRizkLl2ZEqCc7jWPyu7IgsgdWnefY')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[basics]  WITH CHECK ADD  CONSTRAINT [FK_measuredvalues_infos] FOREIGN KEY([info_id])
REFERENCES [dbo].[infos] ([id])
GO
ALTER TABLE [dbo].[basics] CHECK CONSTRAINT [FK_measuredvalues_infos]
GO
ALTER TABLE [dbo].[metal]  WITH CHECK ADD  CONSTRAINT [FK_metals_infos] FOREIGN KEY([info_id])
REFERENCES [dbo].[infos] ([id])
GO
ALTER TABLE [dbo].[metal] CHECK CONSTRAINT [FK_metals_infos]
GO
